body {
    background-color: #404B3B;
    font-family: 'M PLUS Code Latin', sans-serif;
    /* single unscrollable page */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main{
    /* content keeps on screen */
    width: 100vw;
    height: 100vh;
    /* set the grid on mobile view */
    display: grid;
    grid-template-areas: 
        "top-tree"
        "main"
        "bottom-tree";
    /* only one column for mobile */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%);
}

.image {
    width: 105%;
    height: auto;
    object-fit: cover;
}

.main_thumb_container {
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.main_logo {
    width: 70%;
    justify-self: flex-start;
    box-shadow: 0 0 8px 8px #404B3B inset;
}

/* position of the branches */
.tree_thumb {
    position: relative;
    align-self: stretch;
}

.top_tree_thumb{
    transform: scaleX(-1) scaleY(-1) rotate(23deg) ;
    float: right;
    right: -10vw;
    /* top: -5vh; */
}
.bottom_tree_thumb{
    transform: rotate(23deg);
    float: left; 
    left: -10vw;
    top: -5vh;
}

/* button style */
.button_welcome{
    width: 50%;
    box-sizing: border-box;
    border : 0.40em solid white;
    padding: 15px 30px 18px; 
    margin: 1vh 30px 0; 
    font-size: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 35;
}

.button_welcome:link, .button_welcome:visited{
    color: white;
}

.button_welcome:hover {
    color: #f8e3ba; 
    border-color: #f8e3ba; 
}

